@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Movie Page</h1>
     
        <img src="~/Image/Movie pix.jpg" class="img-fluid" alt="Movie Picture" >
    </div>
